node_modules/
dist/
.DS_Store

# env files
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vite
.vite/

# lighthouse reports
lighthouse*.json

*.tar.gz
